<div class="container home cocktailpages">
  <div formulairecentre class="text-center">
    <h1>Your new cocktail</h1>
    <span class="formulairepetit">
      <%= render 'components/form', cocktail: @cocktail %>
    </span>
    <p class="lienback"> <%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, cocktails_path %></p>
  </div>
</div>
