// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.home {
  background-color : rgb(51, 51, 51);
  width: 100%;
  position: relative;
  color: white;

}

.banner {
  background-color : rgb(13, 17, 14);
  width: 100%;
  margin: none;
}

.cocktailpages {
  height: 100vh;
}

.title {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: black;
}

.flexy {
  display: flex;
  justify-content: center;
}

.add {
  position: absolute;
  right: 40px;
  top : 120px;
}

.flexy h1 {
  padding: 20px;
}

.image {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}
